<div class="container text-center my-3 mt-5">
    <div class="jumbotron" style="background-color: #000;color: white;">
        <h1>USER ERROR SIGNUP</h1>

        <button class="btn btn-success my-5" onclick="location.href='/registrar'">VOLVER</button>
    </div>
</div>